body,
html {
    margin: 0;
    padding: 0;
    /* display: grid;
    grid-template-rows: auto 1fr auto; */
    /* font-family: "Noto", serif; */
    scroll-behavior: smooth;
    font-family: 'Asap', sans-serif;
}

.icon {
    width: 35px;
    height: auto;
    display: block;
    margin: auto;

}

section {
    overflow: hidden;
}

.button {
    font-family: 'DM Serif Text', serif;
    /* width: 10vw; */
    position: relative;
    display: block;
    text-align: center;
    padding: 2% 5%;
    border: 1px #003300 solid;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 3px 3px 0 1px #97b897;
    transition: 0.15s ease-in-out;
    font-size: 1vw;
    font-weight: 500;
    color: black;
}

.button:hover {
    box-shadow: 0px 0px #003300;
    top: 3px;
    left: 3px;
}

.section-title {
    font-family: 'DM Serif Text', serif;
    color: #003300;
    font-size: 2.5vw;
    padding-top: 10%;
}

.section-subtitle {
    font-size: 1.3vw;
    color: #EA9979;
}

p {
    font-size: 1.2vw;
}

/* .front .content .front-title {
    flex: 1;
    font-family: 'DM Serif Text', serif;
    font-size: 3vw;
    color: #003300;
} */
@media (max-width:992px) {
    .button {
        width: 50%;
        font-size: 2vw;
    }

    p {
        font-size: 2vw;
    }

    .section-title {

        font-size: 4vw;
    }

    .section-subtitle {
        font-size: 2vw;

    }

}

@media (max-width:600px) {
    .button {
        width: 50%;
        font-size: 2vw;
    }

    .section-title {

        font-size: 6vw;
    }

    p {
        font-size: 4vw;
    }

    .section-subtitle {
        font-size: 4vw;

    }
}

/* 
================================
            Header 
================================
*/
header {
    display: flex;
    flex-direction: column;

    width: 100%;
    background-color: white;
    z-index: 999;

}

header .title {
    font-family: 'Noto Serif', serif;
    padding: 1%;

    text-align: center;

}

header .title h1 {
    flex-shrink: 1;
}

header .title button {
    flex-shrink: 5;
}

header .collapse {
    display: flex;

}

header nav .collapse {
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    /* font-weight: 600; */
    text-align: center;
    justify-content: center;
    margin: auto;

}

header nav .collapse a {

    color: black;
    padding: 5px 50px;
    transition: color 0.55s;


}

header nav .collapse a:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 aquamarine;
    ;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

header nav .collapse a:hover {
    color: aquamarine;
}

header nav .collapse a:hover:after {
    width: 100%;
    padding-right: 35px;

    /* border-bottom: 1px aquamarine solid; */
    /* border-width: 10px; */
}

@media (min-width: 993px) {
    header .navbar-brand {
        display: none;

    }

}



@media (max-width: 992px) {

    header .title {
        display: none;
    }


    header .navbar-brand {
        color: black;
        justify-content: center;
    }

}

/* 
================================
            Main 
================================
*/


/* #ecffe6 */
/* #003300  */

/* 
================================
            Front
================================
*/


.front .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

.front .content-item {
    background-color: #f5fff2;
    display: grid;
    place-items: center;
}

.front .content-title {
    /* display: grid; */
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    height: 100%;
}

.front .content-title .box3 {
    /* height: 30%; */
    display: flex;
    padding-top: 30%;
    font-size: 1vw;
    justify-content: center;
    text-align: center;
}

.front .content-img img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

@media (max-width: 992px) {
    .front .content {
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: auto;

    }

    .front .content-text {
        width: 100%;
        justify-self: right;
        order: 2;
        grid-row: 2/4;
        grid-column: 2/3;
    }

    .front .content-img {
        order: 1;
        grid-row: 1/3;
        grid-column: 1/4;
    }

    .front .content-img img {
        object-fit: cover;
        object-position: 0% 0%;
        width: 100%;
        max-height: 400px;
    }
}

@media (max-width:552px) {
    .front .content-img img {
        object-fit: cover;
        object-position: 0% 0%;
        width: 100%;
        max-height: 300px;
    }
}

/*
================================
            About 
================================
*/
.about {
    /* height: 100vh; */
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0% 5%;
}

.about .content {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-gap: 3em;
    place-items: center;
    /* grid-auto-rows: 500px; */

}

.about .content-item {
    grid-row: 1/4;
}

.about .content-text {

    order: 2;

}

.about .content-img {}



.about .content-img img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}


@media (max-width:600px) {
    .about .content {
        grid-gap: 0em;
    }

    .about .content-text {
        grid-column: 1/4;
        grid-row: 2/3;

    }

    .about .section-title {
        padding-top: 0;
    }

    .about .content-img {
        grid-column: 1/4;
        grid-row: 1/2;
    }
}



/* 
================================
            menu 
================================
*/
.menu {
    background-color: #f5fff2;


}

.menu .content {
    padding-bottom: 5%;
}

.menu .menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1em;
}

.menu-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}


/* 
================================
            Gallery 
================================
*/
.gallery {

    /* padding-top: 5%; */

    padding-bottom: 5%;
}

.gallery .section-title {
    padding-top: 5%;
    padding-bottom: 5%;
}

.gallery .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

/* Create four equal columns that sits next to each other */
/* .gallery .row {

} */

.gallery .row .box {
    flex: 0 1 200px;
    height: 300px;
    margin: 5px;
}

.gallery .box img {
    height: 100%;
    object-fit: cover;

}

/* 
================================
            Review 
================================
*/
.review {
    height: 60vh;
    background-color: #f5fff2;
}

.review .content {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.review .review-box {
    height: 100%;
    /* border: 1px black solid; */
    display: grid;
    place-items: center;
}


/* 
================================
            Contact 
================================
*/
.contact {
    font-family: 'Asap', sans-serif;
    color: white;
    background-color: #0a240a;
}

.contact .content {

    padding-top: 5%;
    padding-bottom: 5%;
}

.contact .contact-title {
    font-family: 'DM Serif Text', serif;
    font-size: 2vw;
}

.contact .contact-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact .contact-item {
    padding: 5px;
    /* border: 1px #ccc solid; */
    margin: 20px;
}

.contact .button {
    width: 120%;
    /* height: %; */
    font-size: 1vw;
}


@media (max-width:992px) {
    .contact {
        width: 100%;
    }

    .contact iframe {
        width: 100%;
        height: auto;
    }

    .contact .button {
        width: 120%;
        /* height: %; */
        font-size: 2vw;
    }

}

@media (max-width:562px) {
    .contact {
        width: 100%;
    }

    .contact iframe {
        width: 100%;
        height: auto;
    }

    .contact .button {
        width: 120%;
        /* height: %; */
        font-size: 4vw;
    }

}

.footer {
    /* width: 100%; */
    /* height: 100%; */
    background-color: #0a240a;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer .footer-box {

    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
    /* padding: 10% 0%; */

}

.footer .footer-item {

    text-align: center;
    flex: 0 1 30%;
    /* font-size: 30px; */
    color: white;
}